<h1 class="img-home mb-3">Save and kind of movies</h1>

<ul class="cards-style d-flex flex-wrap gap-3">
  <% @lists.each do |list| %>
    <li class="card-category p-2"><%= link_to list.name, list_path(list), class:"text-decoration-none card_category" %></li>
  <% end %>
</ul>
