<h1 class="img-home mb-3">Save any kind of movies</h1>

<ul class="cards-style d-flex flex-wrap gap-3">
  <% @lists.each do |list| %>
    <li class="p-3" >
      <%= link_to list.name, list_path(list), class:"text-decoration-none card-category", style: list.image.attached? ? "background-image: url(\'#{url_for(list.image)}\')" : "background-color:  black" %>
    </li>
  <% end %>
</ul>
