<h1 class="m-5">Add a new bookmark 😎</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>

  <div class="form-group m-5">
    <%= f.association :movie %>
    <%= f.input :comment %>
  </div>

  <div class="form-group m-5 my-5">
    <%= f.button :submit, class: 'btn btn-info col-12' %>
  </div>
<% end %>
