.btn-delete {
  background-color: rgb(244, 118, 104);
  color: #FFF;
  border-radius: 12px;
  padding: 8px 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  &:hover {
    background-color: rgb(223, 70, 53);
    color: #FFF;
  }
}

.btn-new{
  background-color: rgb(16, 109, 126);
  color: #FFF;
  border-radius: 12px;
  padding: 8px 24px;
  cursor: pointer;

  &:hover {
    background-color: rgb(15, 152, 176);
    color: #FFF;
  }
}

.btn-back {
  background-color: rgb(120, 164, 172);
  color: #FFF;
  border-radius: 12px;
  padding: 8px 24px;
  cursor: pointer;

  &:hover {
    background-color: rgb(15, 152, 176);
    color: #FFF;
  }
}
